# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MONO36_STUDIO

config ZMK_KEYBOARD_NAME
    default "MONO36_STUDIO"

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
